@import "tailwindcss";


@theme {
    --color-base: var(--color-zinc-800);
    --color-muted: var(--color-zinc-600);
    --color-light: var(--color-zinc-200);
    --color-stroke: var(--color-zinc-300);
    --color-success: var(--color-green-800);
    --color-warning: var(--color-amber-400);
    --color-danger: var(--color-red-800);
    --color-primary: var(--color-blue-800);
    --color-secondary: var(--color-blue-900);
    --color-amber: var(--color-amber-600);
}

@layer base {
  /* Target buttons, links, text inputs, textareas, and selects */
  a:focus-visible,
  button:focus-visible,
  input[type="text"]:focus-visible,
  input[type="email"]:focus-visible,
  input[type="password"]:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    @apply outline outline-2 outline-amber-500 outline-offset-2;
  }
}